.connectionPage{
    place-self: center;
    grid-area: main;
    *{
        padding: 0;
    }
}

.form_connection {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px 100px;
  gap: 25px;
  &_input {
    width: 300px;
    height: 35px;
    border-radius: 10px;
  }
  &_div {
    border: 2px solid grey;
    border-top-color: black;
    border-left-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &.focused {
      border-color: black;
    }
    .eye-btn {
      width: 30px;
      align-self: center;
      text-align-last: center;
    }
    .form_connection_input {
      width: auto;
      flex-grow: 1;
      height: initial;
      background-color: transparent;
      border-width: 0px 2px 0px 0px;
      border-radius: 10px 0px 0px 10px;
      &:focus {
        outline: none;
      }
    }
  }
  &_btn {
    width: 150px;
    height: 35px;
    border-radius: 75px;
    align-self: center;
  }
}
