html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  height: auto;
  min-width: 1440px;
  margin: auto;
  padding: 0px 80px;
  background: #824737;
}

body {
  background: white;
  padding: 20px 50px 0px 50px;
}

#root,
body {
  width: 100%;
  height: 100%;
}

.layout {
  height: 100%;
  display: grid;
  grid-template-areas: "head head head" "nav main main" "foot foot foot";
  grid-template-rows: 210px 1fr 250px;
  grid-template-columns: 1fr 3fr;
  row-gap: 50px;
  column-gap: 30px;
}
.layout.layout-login {
  grid-template-areas: "head" "main";
  grid-template-rows: 210px 1fr;
  grid-template-columns: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  cursor: pointer;
}

main * {
  line-height: 30px;
  padding: 10px 50px;
}

li {
  list-style: none;
}

.footer {
  box-shadow: inset 0px 0px 2px 1px #824737;
  grid-area: foot;
  align-content: center;
  background-color: rgba(205, 223, 250, 0.2509803922);
  border-radius: 0px 30px;
  padding: 20px;
  display: grid;
  grid-template-areas: "title title title" "topic1 topic2 topic3";
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 15px;
  column-gap: 30px;
}
.footer * {
  line-height: 30px;
}
.footer-titre {
  font-size: 20px;
  grid-area: title;
  text-align: center;
  align-items: center;
}
.footer-topRecettes {
  grid-area: topic1;
}
.footer-demandes {
  grid-area: topic2;
}
.footer-contact {
  grid-area: topic3;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 50px;
  background: rgba(205, 223, 250, 0.2509803922);
  border-radius: 30px 0px;
  height: 210px;
  grid-area: head;
  box-shadow: 0px 0px 2px 1px #824737;
}
.header-logo {
  max-height: 100%;
  align-content: center;
}
.header-logo #imgLogo {
  height: 200px;
  width: 200px;
  border-radius: 100px 0px;
}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header-titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.header-titre h1 {
  font-size: 36px;
  color: #034194;
}
.header-titre h2 {
  font-size: 22px;
  color: #ff914d;
}
.header-menulogin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
}
.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.header-menu-item {
  width: 100%;
}
.header-authentification {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header-authentification-item {
  min-width: fit-content;
  padding: 0px 15px;
}
.header-authentification-profil {
  width: 50px;
  height: auto;
  border-radius: 25px;
}
.header-authentification-userData {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header-authentification-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 100%;
}
.header-authentification-detail p {
  background-color: #824737;
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

.menuAside {
  grid-area: nav;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.menuAside-slide {
  display: block;
  border: 2px solid black;
  padding: 10px;
}
.menuAside-img, .menuAside-txt {
  width: 100%;
  min-height: 248.4px;
  align-content: center;
}

.profile-menu {
  display: flex;
  gap: 10px;
  background-color: white;
  width: 250px;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 8px black;
  position: absolute;
  top: 55px;
  right: 20px;
  align-items: center;
  overflow: hidden;
}
.profile-menu.hide {
  display: none;
}
.profile-menu-header {
  position: relative;
  width: 100%;
  text-align: center;
  padding-bottom: 65px;
}
.profile-menu-header-title {
  background-color: yellow;
  height: 70px;
  padding: 20px 0px;
}
.profile-menu-header-photo {
  width: 90px;
  position: absolute;
  top: 45px;
  right: calc(50% - 45px);
  height: auto;
  border-radius: 45px;
}
.profile-menu-header-icon-update {
  color: #034194;
  position: absolute;
  right: 12px;
  top: 55px;
}
.profile-menu-content {
  text-align: center;
  line-height: 30px;
}
.profile-menu-footer {
  height: 60px;
  width: 100%;
  padding: 20px 0px;
  text-align: center;
}

.connectionPage {
  place-self: center;
  grid-area: main;
}
.connectionPage * {
  padding: 0;
}

.form-connection {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px 100px;
  gap: 25px;
}
.form-connection-input {
  width: 300px;
  height: 35px;
  border-radius: 10px;
}
.form-connection-div {
  border: 2px solid grey;
  border-top-color: black;
  border-left-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form-connection-div.focused {
  border-color: black;
}
.form-connection-div .eye-btn {
  width: 30px;
  align-self: center;
  text-align-last: center;
}
.form-connection-div .form-connection-input {
  width: auto;
  flex-grow: 1;
  height: initial;
  background-color: transparent;
  border-width: 0px 2px 0px 0px;
  border-radius: 10px 0px 0px 10px;
}
.form-connection-div .form-connection-input:focus {
  outline: none;
}
.form-connection-btn {
  width: 150px;
  height: 35px;
  border-radius: 75px;
  align-self: center;
}

.accueilPage {
  grid-area: main;
}

/*# sourceMappingURL=style.css.map */
