.footer {
  box-shadow: inset 0px 0px 2px 1px #824737;
  grid-area: foot;
  align-content: center;
  background-color: #cddffa40;
  border-radius: 30px 0px;
  padding: 20px;
  * {
    line-height: 30px;
  }

  display: grid;
  grid-template-areas:
    "title title title"
    "topic1 topic2 topic3";
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 15px;
  column-gap: 30px;

  &-titre {
    font-size: 20px;
    grid-area: title;
    text-align: center;
    align-items: center;
  }
  &-topRecettes {
    grid-area: topic1;
  }
  &-demandes {
    grid-area: topic2;
  }
  &-contact {
    grid-area: topic3;
  }
}
