.profile-menu {
  display: flex;
  gap: 10px;
  background-color: white;
  width: 250px;
  flex-direction: column;
  border-radius: 10px; // ne fonctionne pas sur top-left et top-right
  box-shadow: 0 0 8px black;
  position: absolute;
  top: 55px;
  right: 20px;
  align-items: center;
  overflow: hidden;
  &.hide {
    display: none;
  }
  &-header {
    position: relative;
    width: 100%;
    text-align: center;
    padding-bottom: 65px;
    &-title {
      background-color: yellow;
      height: 70px;
      padding: 20px 0px;
    }
    &-photo {
      width: 90px;
      position: absolute;
      top: 45px;
      right: calc(50% - 45px);
      height: auto;
      border-radius: 45px;
    }
    &-icon-update {
      color: #034194;
      position: absolute;
      right: 12px;
      top: 55px;
    }
  }
  &-content {
    text-align: center;
    line-height: 30px;
  }
  &-footer {
    height: 60px;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
  }
}
